<div id='testresult'>

     <h2> <%=  @parameter.name  %> </h2>
     <p> <%= Time.at(@testresult.testresult_date).strftime("%d-%m-%Y  %H:%M") %>  <%= @testresult.value %>  -  <%= @testresult.note %> </p>

</div>