<h2>New Parameter</h2>
    <%= render 'form' %>

    <% if @parameter.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@parameter.errors.count, "error") %>
           prohibited this foo from being saved:</h2>

          <ul>
            <% @parameter.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>

        </div>
    <% end %>

